<% provide(:title, "About")%>

<DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Rails App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      このアプリケーションは学習用に作成しました。
    </p>
  </body>
</html>
