<% provide(:title, "About")%>

<DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      このアプリケーションは学習用に作成しました。<br>
      今後は認証機能、フォロー機能、いいね機能の順で実装予定です。
    </p>
  </body>
</html>
