<% provide(:title, "Help")%>

<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      お困りですか？<br>困ったときは<a href="https://www.google.com/?hl=ja">こちら</a>を見るといいかもしれません。
    </p>
  </body>
</html>
