<footer class="footer">
  <small>
    <a href="#"></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "このアプリについて",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>
